<IfModule mod_rewrite.c>
    RewriteEngine On

    # Trang chủ: /home
    RewriteRule ^home/?$ /xam3d_laravel/public/index.php [L]

    # Trang Admin: /admin và các trang con
    RewriteRule ^admin(.*)$ /xam3d_laravel/public/index.php [L]

    # Trang Design
    RewriteRule ^design/?$ /xam3d_laravel/public/index.php [L]

    # API Auth
    RewriteRule ^auth/?$ /xam3d_laravel/public/index.php [L]
</IfModule>
